.grid {
    display: block;
    clear: both;
}

.unit {
    width: 100%;
    float: left;
}

.grid .whole {
    width: 100%;
}

.grid .half {
    width: 50%;
}

.grid .one-third {
    width: 33.3332%;
}

.grid .two-thirds {
    width: 66.6665%;
}

.grid .one-quarter,
.grid .one-fourth {
    width: 25%;
}

.grid .three-quarters,
.grid .three-fourths {
    width: 75%;
}

.grid .one-fifth {
    width: 20%;
}

.grid .two-fifths {
    width: 40%;
}

.grid .three-fifths {
    width: 60%;
}

.grid .four-fifths {
    width: 80%;
}

.grid {
    *zoom: 1;
}

.grid:before, .grid:after {
    display: table;
    content: "";
    line-height: 0;
}

.grid:after {
    clear: both;
}

@media screen and (max-width: 750px) {
    .grid:not(.no-stacking-on-mobile) > .unit,
    .grid:not(.no-stacking-on-mobile) > .unit > .unit {
        width: 100% !important;
    }

    .hide-on-mobile {
        display: none;
    }

    .half-on-mobile {
        width: 50% !important;
    }

    .whole-on-mobile {
        width: 100% !important;
    }
}