// Fonts
$font: sans-serif;

// Sizing Units
$sm: 10px;
$md: 20px;
$lg: 40px;
$xl: 80px;

// Colors
$black: #3C3C3C;
$white: #FFFFFF;
$yellow: #FFEE7F;
$purple: #7D82B8;
$green: #8ED081;

// Border Radii
$border-radius: 4px;

// Z-indexes
$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;
$z-9: 9; //Only use in case of nuclear war